@media only screen and (min-width: 769px) {
  .nav_icon {
    display: none;
  }

  header {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    height: 4em;
    z-index: 2;
    background-color: #262F3A;
  }

  nav {
    height: 100%;
  }
  nav ul {
    width: 85%;
    height: 100%;
    margin: 0 auto;
  }
  nav li {
    display: inline-block;
    width: 16%;
    height: 100%;
    text-align: center;
  }

  .nav-list {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    margin-top: 4em;
  }

  .profile-pic {
    height: 250px;
    width: 250px;
    min-width: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=desktopStyle.css.map */
