$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';
/* Normalization css start */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

*:before, *:after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

html {
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body{
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
}

/* Normalization css end */

.is-hidden {
    display: none;
}

nav {
  #{$a-tags} {
      position: relative;
      padding-top: 1em;
      display: block;
      height: 100%;
      color: rgb(0, 207, 209);
      cursor: pointer;
      -o-transition:color 0.3s ease-out, background 0.2s ease-in;
      -ms-transition:color 0.3s ease-out, background 0.2s ease-in;
      -moz-transition:color 0.3s ease-out, background 0.2s ease-in;
      -webkit-transition:color 0.3s ease-out, background 0.2s ease-in;
      transition:color 0.3s ease-out, background 0.2s ease-in;
  }
  #{$a-tags-hover} {
      background-color: rgb(20, 21, 4);
      color: #FF2E4D;
  }
}

.my-photo {
  padding: 4em 3em 3em 2em;
}

.my-name {
  text-align: center;
  font-size: 2em;
}

.profile-links-container{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.profile-links-list li {
  display: inline-block;
  padding: 0.5em;
}

.profile-links {
  display: inline-block;
}

.card-container {
  padding-top: 1em;
  padding-right: 1em;
  margin-bottom: 2em;
}

.profile-section-header {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-bottom: 0.5em; 
}

.profile-section-list {
  list-style: disc;
  padding: 1em;
}

.card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    position: relative;
    padding: 1em;
    background-color: #fafafa;
    border: 1px solid #fafafa;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1)inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 0 0 40px rgba(128, 128, 128, .1)inset;
    margin-bottom: 2em;
}
.card::after, .card::before {
    content: "";
    position: absolute;
    z-index: -2;
}
.card-lift::after, .card-lift::before {
  bottom: 15px;
  width: 50%;
  height: 20% ;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(31, 31, 31, .7);
  box-shadow: 0 15px 10px rgba(31, 31, 31, .7)
}
.card-lift::before {
  left: 10px;
  -webkit-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg)
}
.card-lift::after {
  right: 10px;
  -webkit-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg)
}

footer {
  width: 100%;
  border: 1px solid grey;
  margin-top: 0.5em;
}

.footer-contact-me {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
}