$a-tags: 'a, a:active, a:hover, a:visited';

@media only screen and (max-width: 768px) {
    .nav_icon {
        display: inline-block;
    }
    
    .slide-in-left {
        transform: translateX(0em);
    }

    nav {
        transform: translateX(-8em);
        transition: transform 0.3s;
        height: 100%;
        background-color:#262F3A;
        #{$a-tags} {
            padding: 1.5em 0.5em;
        }
        ul{
            width: 100%;
            margin: auto 0;
        }
        li {
            display: inline-block;
            height: 16%;
            width: 100%;
        }
        .slide-in-left {
            transform: translateX(0em);
        }
    }
    body {
        display: flex;
        flex-wrap: wrap; 
    }
    .nav_icon {
        z-index: 5;
        cursor: pointer;
        padding: 1em 1em 1em 0em;
        height: 3em;
        position: absolute;
        width: 3em;
        display: inline-block;
    }
    .nav_icon:hover span {
        background-color: #FF2E4D;
    }
    .nav_icon span:nth-child(2) {
        margin-top: 7px;
    }
    .nav_icon span:nth-child(3) {
        margin-top: 14px;
    }
    .nav_icon span {
        background-color: #00cfd1;
        display: block;
        height: 1px;
        margin-left: 1em;
        position: absolute;
        width: 20px;
    }
    .nav-list {
        padding-top: 4em;
    }
    header {
        position: fixed;
        height: 100%;
        top:0;
        z-index: 2;
        width: 7em;
        min-width: 7em;
    }
    main {
        height: 100%;
    }

    .profile-pic {
        display: block;
        margin: 0 auto;
        height: 10em;
        width: 10em;
        border-radius: 50%;
    }

    .my-photo {
        padding: 4em 3em 3em 3em;
    }

}
